@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss"; 

.special-font {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.line{
    animation: movingline 4s 1 normal forwards;
}

@keyframes movingline {
    from{
        left : -200%;
    }
    to{
        left: 0;
    }
}
